form.form-inline(role='form')
  .form-group
    input#exampleInputEmail2.form-control(type='text', placeholder='用户名', ng-model='username1')
  .form-group
    input#exampleInputPassword2.form-control(type='password', placeholder='密码', ng-model='password1')
  button.btn.btn-default(type='submit', ng-click='userDo("userAdd")') 添加用户
  button.btn.btn-default(type='submit', ng-click='userDo("userPassReset")') 重置密码
  span.alert {{col1Msg}}
form.form-inline(role='form')
  .form-group
    input#exampleInputEmail2.form-control(type='text', placeholder='用户名', ng-model='username2')
  button.btn.btn-default(type='submit', ng-click='userDo("userDel")') 删除用户
  button.btn.btn-default(type='submit', ng-click='userDo("setAdmin")') 设为管理员
  button.btn.btn-default(type='submit', ng-click='userDo("cancelAdmin")') 取消管理员
  span.alert {{col2Msg}}
