mixin head(name)
        meta(charset='UTF-8')
        title= name
        link(rel='stylesheet', href='css/bootstrap.css', type='text/css', charset='utf-8')
        link(rel='stylesheet', href='css/datepicker3.css', type='text/css', charset='utf-8')
        //- link(rel='stylesheet', href='css/matrix-media.css', type='text/css', charset='utf-8')
        //- link(rel='stylesheet', href='css/matrix-style.css', type='text/css', charset='utf-8')
        link(rel='stylesheet', href='css/my.css', type='text/css', charset='utf-8')
        link(rel='stylesheet', href='css/load.css', type='text/css', charset='utf-8')
        

mixin script()
        script(src='js/angular.js', type='text/javascript', charset='utf-8')
        script(src='js/jquery-2.1.0.js', type='text/javascript', charset='utf-8')
        script(src='js/bootstrap.js', type='text/javascript', charset='utf-8')
        script(src='js/bootstrap-datepicker.js', type='text/javascript', charset='utf-8')
        script(src='js/my.js', type='text/javascript', charset='utf-8')
        script(src='js/admin.js', type='text/javascript', charset='utf-8')
        script(src='js/angular-animate.js', type='text/javascript', charset='utf-8')
