header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='./') 教室管理系统
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='http://www.hnust.cn/', target='_blank') 科大主页
        li
          a(href='http://kdjw.hnust.cn/kdjw/', target='_blank') 科大教务网
        li
          a(href='http://xxjw.hnust.cn/xxjw/', target='_blank') 潇湘教务网
        li
          a(href='./admin.html', target='_blank') 管理后台
        li
          a(href='#footer') 关于
      ul.nav.navbar-nav.navbar-right.ng-cloak
        li(ng-show='!login.isLogin', ng-click='loginPost()')
          a 登录
        li(ng-show='login.isLogin')
          a {{login.username}}({{login.nickname}})
        li(ng-show='login.isLogin')
          a(ng-click='logout()') 点击注销
